---
import Base from '@layouts/Base.astro'
import { formatDate } from '@utils/date'
import estimatedReadTime from '@utils/readTime'

const { frontmatter, rawContent } = Astro.props
---

<Base
  head={{
    title: `${frontmatter.title} | Husein Kantarci`,
    description: frontmatter.description,
  }}
>
  <div class="flex flex-col text-left md:text-center mb-12 mt-10">
    <h1 class="text-4xl font-bold dark:text-gray-50">{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <p
      class="text-sm opacity-70 flex justify-start md:justify-center items-center"
    >
      <span>{formatDate(frontmatter.date)}</span>
      <span class="mr-1 ml-1">•</span>
      {estimatedReadTime(rawContent())} min read
      <svg
        height="18"
        width="18"
        viewBox="0 0 50 50"
        class="ml-1 opacity-70 dark:fill-gray-50"
        ><path
          d="m31.35 33.65 2.25-2.25-7.95-8V13.35h-3V24.6ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 24t1.575-7.75q1.575-3.65 4.3-6.375 2.725-2.725 6.375-4.3Q19.9 4 24 4t7.75 1.575q3.65 1.575 6.375 4.3 2.725 2.725 4.3 6.375Q44 19.9 44 24t-1.575 7.75q-1.575 3.65-4.3 6.375-2.725 2.725-6.375 4.3Q28.1 44 24 44Zm0-20Zm0 17q7 0 12-5t5-12q0-7-5-12T24 7q-7 0-12 5T7 24q0 7 5 12t12 5Z"
        ></path>
      </svg>
    </p>
  </div>
  <article class="prose dark:prose-invert">
    <slot />
  </article>
</Base>
